@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

.image-carousel{
   /* Set rules to fill background */
   min-height: 100%;
   min-width: 1024px;
   
   /* Set up proportionate scaling */
   width: 100%;
   height: auto;
   
   /* Set up positioning */
   position: fixed;
   top: 0;
   left: 0;
}

.home-shop-button{
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  translate: 40vw 40vh;
  padding: 8rem;
  font-size: 5rem;
  border: none;
  background-color: rgba(255, 165, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: 'Bebas Neue', cursive;
}

.home-shop-button:hover{
  cursor: pointer;
}

.home-shop-button:active{
  background-color: rgba(148, 97, 2, 0.5);
  transform: scale(0.95);
}

.homepage-text{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 350px;
  font-size: 1.5rem;
  padding: 1.2rem;
  color: white;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Poppins', sans-serif;
  transition: background-color ease-in-out 0.2s;
}

.home-icon{
  opacity: 0;
  margin-left: -30px;
  transition: opacity, margin-left ease-out 0.2s;

}

.homepage-text:hover{
  background-color: rgba(0,0,0, 0.8);
  cursor: pointer;
}

.homepage-text:hover >.home-icon{
  /* background-color: rgba(138, 43, 226, 0.8); */
  opacity: 1;
  margin-left: 0;
}

.navigation{
  position: fixed;
  right: 0;
  z-index: 1;
  display: flex;
  gap: 0.5rem;
}

.navigation-button{
  height: min-content;
}

.navigation-options{
  list-style: none;
  width: 200px;
  background-color: rgba(0,0,0, 0.8);
  /* color: white; */
  font-size: 1.5rem;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  margin-right: -200px;
  transition: margin-right ease-in-out 0.5s;
}

.navigation-options>li{
  padding: 10px 0 10px 10px;
}

.navigation-options>li>a{
  color: white;
}

.navigation-options>li:hover{
  cursor: pointer;
  text-decoration: underline;
}

.show-navigationOptions{
  margin-right: 0px;
}

.menu-icon{
  color: black;
  font-size: 2.5rem;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color ease-in-out 0.2s;
}

.menu-icon:hover{
  background-color: rgba(0, 0, 0, 1);
  color: white;
  cursor: pointer;
}

.shop-products{
  width: 700px;
  margin: 0 auto;
  padding-top: 5rem;
}

.products{
  display: flex;
  justify-content: center;
  padding: 1rem;
  /* background-color: rgb(227, 227, 238); */
  margin-bottom: 8px;
  font-family: 'Poppins', sans-serif;
  gap: 8px;
}

.products:hover{
  cursor: pointer;
}

.product-image, .cart-productImage{
  width: 200px;
  margin-right: auto;
}

.product-details, .cart-productDetails{
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.add-to-cart{
  padding: 0.8rem;
  border-radius: 2rem;
  border: none;
  background-color: rgb(158, 240, 240);
  color: black;
  box-shadow: 1px 1px 2px 0.8px rgb(197, 196, 196);
  width: max-content;
}

.add-to-cart:hover{
  cursor: pointer;
}

.add-to-cart:active{
  transform: scale(0.9);
  background-color: rgb(6, 174, 174);
}

.snack-bar{
  display: flex;
  gap: 10px;
  background-color: rgb(111, 182, 111);
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
}

.snack-bar-para{
  padding: 10px;
}

.show-snack-bar{
  opacity: 1;
}

.quantity{
  display: flex;
  gap: 5px;
}

.cart-products{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.empty-text{
  font-size: 3rem;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.empty-cart-icon{
  font-size: 3rem;
}

.cart-total{
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
}

.cart-add-quantity, .cart-minus-quantity{
  padding: 2px 5px;
}

.checkout{
  font-size: 1.5rem;
  padding: 10px 40px;
  border: none;
  background-color: rgb(236, 107, 60);
  color: white;
  box-shadow: 1px 1px 10px 1px rgb(204, 162, 71);
}

.checkout:active{
  transform: scale(0.9);
  background-color: rgb(153, 71, 41);
}

.checkout-section{
  background-color: rgb(226, 179, 92);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1rem;
}

.cart-products-section{
  height: calc(100vh - 144px);
  overflow: hidden;
}

.cart-products-section:hover{
  overflow-y: scroll;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .image-carousel{
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}